In [4]:
import get_data
import pandas as pd

In [11]:
query = """
WITH CTE AS (SELECT 
  conm, 
  datadate, 
  prccq,
  fyearq, fqtr,
  prccq - LAG(prccq, 1) OVER (PARTITION BY conm ORDER BY fyearq, fqtr) AS price_dif
FROM quarterly)
SELECT
  conm, datadate, prccq, 
  SUM(price_dif) OVER(PARTITION BY conm ORDER BY fyearq, fqtr ROWS 3 preceding) AS twelve_month_sum 
FROM CTE"""
df = pd.read_sql_query(query, get_data.engine)

In [12]:
df[:25]

                conm    datadate   prccq  twelve_month_sum
0   10X GENOMICS INC  2017-03-31     NaN               NaN
1   10X GENOMICS INC  2017-06-30     NaN               NaN
2   10X GENOMICS INC  2017-09-30     NaN               NaN
3   10X GENOMICS INC  2017-12-31     NaN               NaN
4   10X GENOMICS INC  2018-03-31     NaN               NaN
5   10X GENOMICS INC  2018-06-30     NaN               NaN
6   10X GENOMICS INC  2018-09-30     NaN               NaN
7   10X GENOMICS INC  2018-12-31     NaN               NaN
8   10X GENOMICS INC  2019-03-31     NaN               NaN
9   10X GENOMICS INC  2019-06-30     NaN               NaN
10  10X GENOMICS INC  2019-09-30   50.40               NaN
11  10X GENOMICS INC  2019-12-31   76.25             25.85
12  10X GENOMICS INC  2020-03-31   62.32             11.92
13  10X GENOMICS INC  2020-06-30   89.31             38.91
14  10X GENOMICS INC  2020-09-30  124.68             74.28
15  10X GENOMICS INC  2020-12-31  141.60             65.35
16  10X GENOMICS INC  2021-03-31  181.00            118.68
17  10X GENOMICS INC  2021-06-30  195.82            106.51
18  10X GENOMICS INC  2021-09-30  145.58             20.90
19  10X GENOMICS INC  2021-12-31  148.96              7.36
20  10X GENOMICS INC  2022-03-31   76.07           -104.93
21  10X GENOMICS INC  2022-06-30   45.25           -150.57
22  10X GENOMICS INC  2022-09-30   28.48           -117.10
23  10X GENOMICS INC  2022-12-31   36.44           -112.52
24  10X GENOMICS INC  2023-03-31   55.79            -20.28