In [1]:
import numpy as np
import pandas as pd

In [3]:
var_description = pd.read_csv('../data/quarterly_var_names.csv')
var_description.tail()

    Variable Name   Type                                Description
669        DVPSXQ  Float  Div per Share - Exdate - Quarter (dvpsxq)
670       MKVALTQ  Float             Market Value - Total (mkvaltq)
671         PRCCQ  Float              Price Close - Quarter (prccq)
672         PRCHQ  Float               Price High - Quarter (prchq)
673         PRCLQ  Float                Price Low - Quarter (prclq)